@model Application.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Klipper Login";
}
<link href="~/css/loginPage.css" rel="stylesheet" />

<div class="sidenav hidden-xs">
    <div class="login-main-text" style="margin-left: auto;margin-right: auto; display:block;">
        <img src="~/images/KLLogo.png" class="img-responsive" />
        <h5>Klingelnberg Attendance portal &copy;@DateTime.Now.Year</h5>
    </div>
</div>
<div class="main" style="margin-top:-100PX;">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="login-form">

            <form method="post" asp-action="Authenticate">
                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>
                <div class="form-group">
                    <label>User Holiday</label>
                    <input type="text" asp-for="@Model.UserName" class="form-control" placeholder="User Holiday">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-black">Login</button>

            </form>

            <br>
            @if (@TempData["errorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["errorMessage"]
                </div>
            }
            else
            {
                @if (@TempData["successMessage"] != null)
                 {
                     <div class="alert alert-success success-alert-animation ">
                         @TempData["successMessage"]
                     </div>
                 }
            }
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body > nav {
        display: none;
    }

    #sidebar-wrapper {
        display: none;
    }
</style>
