@using DomainModel
@model Application.Web.Models.LeaveViewModel

@{
    var leaveTypes = @Model.GetAllLeaveTypes();
    var isLeaveCountZero = @Model.GetAppliedLeaves.Count == 0;
    var isSummaryLeaveCountZero = @Model.LeaveSummary.Count == 0;
    var stringEncodeSettings = new Newtonsoft.Json.JsonSerializerSettings { StringEscapeHandling = Newtonsoft.Json.StringEscapeHandling.EscapeHtml };
}

<div class="main">

    <div class="col-md-12" style="margin-bottom:10px;">
        @if (@TempData["responseMessage"] != null)
        {
            <div class="alert alert-success success-alert-animation ">
                @TempData["responseMessage"]
            </div>
        }
        @if (@TempData["errorMessage"] != null)
        {
            <div class="alert alert-warning success-alert-animation ">
                @TempData["errorMessage"]
            </div>
        }
    </div>

    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
            data-target="#ApplyCompOffModal" style="float:right;margin-right:15px;">
        + Add Comp-Off
    </button>
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
            data-target="#ApplyLeaveModal" style="float:right;margin-right: 8px;">
        + Apply Leave
    </button>

    <div class="col-md-12" style="@(isSummaryLeaveCountZero ? "visibility:hidden" :"visibility:visible")">
        <h3> Leave Summary</h3>
        <table class="table table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-md-2 col-lg-2 col-xs-2">Leave Type</th>
                    <th class="col-md-2 col-lg-2 col-xs-2">Total Leave Available</th>
                    <th class="col-md-2 col-lg-2 col-xs-2">Leave Taken</th>
                    <th class="col-md-2 col-lg-2 col-xs-2">Remaining Leave</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leaveSummary in @Model.LeaveSummary)
                {
                    <tr>
                        <td>@leaveSummary.GetLeaveDisplayName().ToString()</td>
                        <td>@leaveSummary.TotalAvailableLeave</td>
                        <td>@leaveSummary.LeaveTaken</td>
                        <td>@leaveSummary.RemainingLeave</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="col-md-12" style="@(isLeaveCountZero ? "visibility:hidden" :"visibility:visible")">
        <h3> Leave Report</h3>
        <table class="table table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-md-1 col-lg-1 col-xs-1">From Date</th>
                    <th class="col-md-1 col-lg-1 col-xs-1">To Date</th>
                    <th class="col-md-1 col-lg-1 col-xs-1">No Of Days</th>
                    <th class="col-md-2 col-lg-2 col-xs-2">Leave Type</th>
                    <th class="col-md-3 col-lg-3 col-xs-3">Remark</th>
                    <th class="col-md-1 col-lg-1 col-xs-1">Status</th>
                    <th class="col-md-1 col-lg-1 col-xs-1">Change Plan</th>
                </tr>
            </thead>
            <tbody>
                @if (isLeaveCountZero == false)
                {
                    @foreach (var leave in @Model.GetAppliedLeaves)
                    {
                        string displayLeaveType;
                        string leaveType = leave.GetLeaveDisplayName().ToString();
                        if (leave.isHalfDayLeave == true)
                        {
                            string addedStringToHalfDay = " - Half Day";

                            displayLeaveType = string.Concat(leaveType, addedStringToHalfDay);
                        }
                        else
                        {
                            displayLeaveType = leave.GetLeaveDisplayName().ToString();
                        }
                        var displayLeaveStatus = leave.GetStatusDisplayName().ToString();
                        var isRealisedLeave = leave.IsRealizedLeave.ToString().ToLower();
                        string disableColor = leave.IsRealizedLeave || leave.Status == Leave.StatusType.Cancelled || leave.Status == Leave.StatusType.CompOffCancelled? "lightslategray" : "black";
                        string isCancelLeave = leave.Status == Leave.StatusType.Cancelled || leave.Status == Leave.StatusType.CompOffCancelled ? "true" : "false";
                        int LeaveTypeId = (int)leave.TypeOfLeave;
                        var remark = System.Text.RegularExpressions.Regex.Replace(leave.Remark, @"[^0-9a-zA-Z]+", "%");
                        var disable = leave.IsRealizedLeave || leave.Status ==Leave.StatusType.Cancelled || leave.Status == Leave.StatusType.CompOffCancelled ? "true" : "false";
                        <tr>
                            <td>@leave.FromDate.ToString("dd-MMM-yyyy")</td>
                            <td>@leave.ToDate.ToString("dd-MMM-yyyy")</td>
                            <td>@leave.NoOfDays</td>
                            <td>@displayLeaveType</td>
                            <td>@leave.Remark</td>
                            <td>@displayLeaveStatus</td>
                            <td class="text-center">
                                @if (disable == "true")
                                {
                                    <div class="container3">
                                        <div class="btn-group ">
                                            <span data-toggle="tooltip" class="glyphicon glyphicon-pencil " title="Update Leave"
                                                  onclick="return false" style="cursor:pointer;margin-right:10px;color:@disableColor;"></span>
                                            <span data-toggle="tooltip" class="glyphicon glyphicon-remove" title="CancelLeave Leave"
                                                  onclick="return false"
                                                  style="cursor:pointer;margin-right:10px;color:@disableColor;"></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (@leave.Status == Leave.StatusType.CompOffAdded || @leave.Status == Leave.StatusType.CompOffUpdated)
                                    {
                                        <div class="container3">
                                            <div class="btn-group ">
                                                <span data-toggle="tooltip" class="glyphicon glyphicon-pencil " title="Update Leave"
                                                      onclick="UpdateAddedCompOff('@leave.LeaveId','@leave.FromDate.ToString("yyyy-MM-dd")','@leave.ToDate.ToString("yyyy-MM-dd")','@remark','@isRealisedLeave','@isCancelLeave')"
                                                      style="cursor:pointer;margin-right:10px;color:@disableColor;"></span>
                                                <span data-toggle="tooltip" class="glyphicon glyphicon-remove" title="CancelLeave Leave"
                                                      onclick=CancelAddedCompOff("@leave.LeaveId",'@isRealisedLeave','@isCancelLeave')
                                                      style="cursor:pointer;margin-right:10px;color:@disableColor;"></span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="container3">
                                            <div class="btn-group ">
                                                <span data-toggle="tooltip" class="glyphicon glyphicon-pencil " title="Update Leave"
                                                      onclick="UpdateLeave('@leave.LeaveId','@leave.FromDate.ToString("yyyy-MM-dd")','@leave.ToDate.ToString("yyyy-MM-dd")','@leaveType','@leave.isHalfDayLeave.ToString().ToLower()','@remark','@isRealisedLeave','@isCancelLeave')"
                                                      style="cursor:pointer;margin-right:10px;color:@disableColor;"></span>
                                                <span data-toggle="tooltip" class="glyphicon glyphicon-remove" title="CancelLeave Leave"
                                                      onclick=CancelLeave("@leave.LeaveId","@isRealisedLeave","@isCancelLeave")
                                                      style="cursor:pointer;margin-right:10px;color:@disableColor;"></span>
                                            </div>
                                        </div>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12" style="@(isSummaryLeaveCountZero ==false ? " visibility:hidden" :"visibility:visible" )">
        <div class="alert alert-info col-md-3">
            <strong>Info!</strong> No leaves summary found.
        </div>
    </div>
    <div class="col-md-12" style="@(isLeaveCountZero ==false ? " visibility:hidden" :"visibility:visible" )">
        <div class="alert alert-info col-md-3">
            <strong>Info!</strong> No applied leaves found.
        </div>
    </div>
</div>
<script>
    function dateToYMD(date) {
        try {
            var strArray = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var d = date.getDate();
            var m = strArray[date.getMonth()];
            var y = date.getFullYear();
            return '' + (d <= 9 ? '0' + d : d) + ' ' + m + ' ' + y;
        } catch (e) {
            alert('Invalid date');
            return null;
        }
    }

    checkDateForHalfDay = function (action) {
       
        if (action == 'applyLeave') {
            var IsHalfDay = document.querySelector('[name="IsHalfDay"]:checked') == null ?
                false : document.querySelector('[name="IsHalfDay"]:checked').value;
            var FromDate = dateToYMD(document.getElementById("FromDate").value.toString());
            var ToDate = dateToYMD(document.getElementById("ToDate").value.toString());
            var LeaveType = document.getElementById("LeaveType").value.toString();

            if (IsHalfDay == "true" && FromDate != ToDate) {
                alert('Please Select Single Date For Half Day');
                return;
            }
            var Remark = document.getElementById("Remark").value;
            if (Remark == null || Remark == '') {
                alert('Please enter remark');
                return;
            }

            var data =
            {
                fromDate: FromDate,
                toDate: ToDate,
                leaveType: LeaveType,
                isHalfDay: IsHalfDay,
                remark: Remark
            };
            var url = "ApplyLeave?fromDate=" + data.fromDate + "&toDate=" + data.toDate + "&leaveType=" + data.leaveType + "&isHalfDay=" + data.isHalfDay + "&remark=" + data.remark;

        }
        else {
            var isHalfDay = document.getElementById("isHalfDay").checked;
            var fromDate = dateToYMD(document.getElementById("fromDate").value.toString());
            var toDate = dateToYMD(document.getElementById("toDate").value.toString());
            var leaveType = document.getElementById("leaveType").value.toString();

            if (isHalfDay == true && fromDate != toDate) {
                alert('Please Select Single Date For Half Day');
                return;
            }
            var remark = document.getElementById("remark").value;
            if (remark == null || remark == '') {
                alert('Please enter remark');
                return;
            }
            var leaveId = document.getElementById("leaveId").value.toString();
            var data =
            {
                fromDate: fromDate,
                toDate: toDate,
                leaveType: leaveType,
                isHalfDay: isHalfDay,
                remark: remark,
                leaveId: leaveId
            };

            var url = "UpdateLeave?leaveId=" + data.leaveId + "&fromDate=" + data.fromDate + "&toDate=" + data.toDate + "&leaveType=" + data.leaveType + "&isHalfDay=" + data.isHalfDay + "&remark=" + data.remark;
        }
        window.location = url;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ApplyLeavePopup", @Model);}
    @{await Html.RenderPartialAsync("_UpdateLeavePopup", @Model);}
    @{await Html.RenderPartialAsync("_ApplyCompOff", @Model);}
    @{await Html.RenderPartialAsync("_UpdateAddedCompOff", @Model);}
}
<style>
    #ApplyLeaveModal > div > div {
        width: 400px;
    }

    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    .panel-heading {
        padding: 10px 0px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #D9EDF7;
    }

    .btn-primary-outline {
        background-color: transparent;
    }
</style>

<script src="~/js/common.Leave.js"></script>