@model Application.Web.Models.LeaveViewModel
@{
    var leaveTypes = @Model.GetAllLeaveTypes();
    var isLeaveCountZero = @Model.GetAppliedLeaves.Count == 0;
}

<div class="modal fade" id="ApplyLeaveModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <input type="hidden" name="showDate" id="showDate" value="" />
                <h3 class="modal-title" id="popupDateSpan"> Apply Leave</h3>
            </div>
            <div id="ModalBody" style="margin:10px;">
                <div class="col-md-12">
                    <form class="form-group" action="/action_page.php">
                        <label for="from">From</label>
                        <input type="date" id="fromDate" name="fromDate" class="form-control input-sm"
                               min="@DateTime.Today.ToString("yyyy-MM-dd")"
                               max="@DateTime.Today.AddYears(1).ToString("yyyy-MM-dd")"  required>
                        <label for="to">to</label>
                        <input type="date" id="toDate" name="toDate" class="form-control input-sm"
                               min="@DateTime.Today.ToString("yyyy-MM-dd")"
                               max="@DateTime.Today.AddYears(1).ToString("yyyy-MM-dd")"  required>
                        <div class="form-group" style="width:200px;">
                            <label>Leave Type</label>
                            <select id="leaveList" name="leaveList" class="form-control input-sm">
                                <option selected value="0" disabled>---Select Leave Type---</option>
                                @foreach (var leave in leaveTypes)
                                {
                                    <option value="@leave.Key">@leave.Value</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Remark</label>
                            <textarea asp-for="@Model.leaveDTO.Remark" class="form-control input-sm" placeholder="Remark" rows="6"></textarea>
                            <span asp-validation-for="@Model.leaveDTO.Remark" class="text-danger input-sm"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Apply" class="btn btn-default btn-info pull-right" />
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var _convertStringToDateObject;
        var _employeeId;

        applyLeave = function (date, employeeId) {
            if (confirm("Regularize hours ?")) {
                _convertStringToDateObject = new Date(date);
                _employeeId = employeeId;

                $("#popupDateSpan").html(dateToYMD(_convertStringToDateObject));
                $('#HoursRegularizationModal').modal({ 'show': true, 'backdrop': true });
            }
        }

    });

    $(document).ajaxError(function (e, xhr, settings) {
        if (xhr.status == 401) {
            alert("Your Session time expired. Please login again.");
            window.location = "/";
        }
    });


    function dateToYMD(date) {
        try {
            var strArray = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var d = date.getDate();
            var m = strArray[date.getMonth()];
            var y = date.getFullYear();
            return '' + (d <= 9 ? '0' + d : d) + ' ' + m + ' ' + y;
        } catch (e) {
            alert('Invalid date');
            return null;
        }
    }

    $('.popoverClass').popover({ trigger: "hover" });
    $('[data-toggle="tooltip"]').tooltip({ placement: "bottom" });

</script>