@model Application.Web.Models.LeaveViewModel
@{
    var leaveTypes = @Model.GetAllLeaveTypes();
}
<body>
    <div class="modal fade" id="UpdateLeaveModal" role="dialog">
        <div class="modal-dialog modal-sm" style="width:370px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" > Update Leave</h3>
                </div>
                <div id="ModalBody" style="margin-left:9px;margin-right:10px">
                    <div class="col-md-12">
                        <form method="post" asp-controller="Leave" asp-action="UpdateLeave">
                            <input type="hidden" id="leaveId" name="leaveId" />
                            <div class="col-md-6">
                                <label for="from">From</label>
                                <input type="date" id="fromDate" class="form-control input-sm" 
                                      value=""
                                       min="@DateTime.Today.AddYears(-1).ToString("yyyy-MM-dd")"
                                       max="@DateTime.Today.AddYears(1).ToString("yyyy-MM-dd")"
                                       asp-for="@Model.FromDate"
                                       style="width:150px;"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <label for="to">To</label>
                                <input type="date" id="toDate" class="form-control input-sm"
                                       min="@DateTime.Today.AddYears(-1).ToString("yyyy-MM-dd")"
                                       max="@DateTime.Today.AddYears(1).ToString("yyyy-MM-dd")"
                                       style="width:150px;"
                                       asp-for="@Model.ToDate"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="width:200px;margin-top:14px;">
                                    <label>Leave Type</label>
                                    <select id="leaveType" name="leaveType" class="form-control input-sm" asp-for="@Model.LeaveType" style="width:150px;">
                                        @foreach (var leave in leaveTypes)
                                        {
                                            <option value="@leave">@leave</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 form-inline" style="margin-top:42px;">
                                <label class="checkbox"><input type="checkbox" id="isHalfDay" asp-for="@Model.IsHalfDay" value="true" style="margin-right:5px;">Half Day</label>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Remark</label>
                                    <textarea asp-for="@Model.Remark" class="form-control input-sm" id="remark" placeholder="Remark" rows="6" required></textarea>
                                    <span asp-validation-for="@Model.Remark" class="text-danger input-sm"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="submit" class="btn btn-default btn-info pull-right" />
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var _convertStringToDateObject;


            UpdateLeave = function (leaveId, fromDate, toDate, leaveTypeId, isHalfDay,remark, isrealized,isCancelledLeave) {
                if (isrealized == "true") {
                    alert('Passed leaves can not be updated !');
                    return false;
                }
                if (isCancelledLeave == "true"){
                    alert('Cancelled leaves can not be updated !');
                    return false;
                }
               
                $('#UpdateLeaveModal').modal({ 'show': true, 'backdrop': true });
                document.getElementById("fromDate").value = convertDateToHtmlFormat(new Date(fromDate));
                document.getElementById("toDate").value = convertDateToHtmlFormat(new Date(toDate));
                document.getElementById("leaveType").value = leaveTypeId;
                document.getElementById("leaveId").value = leaveId;
                document.getElementById("remark").value = decodeString(remark);
               document.getElementById("isHalfDay").checked = false;
                if (isHalfDay == "true") {
                    document.getElementById("isHalfDay").checked = true;
                }
            }

        });
    </script>
</body>
<script src="~/js/common.helpers.js"></script>
<link href="~/css/_ApplyLeavePagePopup.css" rel="stylesheet" />
<script src="~/js/common.Leave.js"></script>
