@model ReporteeViewModel

@{
    var isLeaveCountZero = @Model.leaveRecordsOfSelectedReportee.Count == 0;
    var isleaveSummaryZero = @Model.LeaveSummary.Count == 0;

}
<div class="panel-info" style="@(Model.reportees.Count==0 ? "visibility:hidden" : "visibility:visible")">
    <div class="panel panel-heading col-md-12 col-sm-12">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <form action="Selectedreportee?selectedViewTabs=leaveReportMenu" method="post">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="reporteesId">Reportee</label>
                        <select id="reporteesId" name="selectMenu" class="form-control input-sm" style="margin-left:10px">
                            @if (Model.LeaveFormName == string.Empty || Model.LeaveFormName == null)
                            {
                                <option selected value="0" disabled>---Select Reportee---</option>
                            }
                            @foreach (var item in Model.reportees)
                            {
                                if (item.Key == Model.SelectedEmpIdForLeaveTab)
                                {
                                    <option value=@item.Key selected>@item.Value</option>
                                }
                                else
                                {
                                    <option value=@item.Key>@item.Value</option>
                                }
                            }
                        </select>
                    </div>

                    <input type="submit" value="Show" class="btn btn-info btn-sm pull" style="width:60px;margin-left:20px" />
                </div>
            </form>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(@Model.LeaveFormName))
    {
        <div class="main">
            <div class="col-md-12" style="@(isleaveSummaryZero == false ? "display:none" : "display:block")">
                    <div class="row" style="color:#23527C;">No applied leave summary found for @Model.LeaveFormName</div>
            </div>
           
            
            @if (isleaveSummaryZero == false)
            {
                <div class="col-md-12">
                    <h4> Leave Summary</h4>
                    <table class="table table-responsive table-striped table-bordered">
                        <thead>
                        <tr>
                            <th class="col-md-2 col-lg-2 col-xs-2">Leave Type</th>
                            <th class="col-md-2 col-lg-2 col-xs-2">Total Leave Available</th>
                            <th class="col-md-2 col-lg-2 col-xs-2">Leave Taken</th>
                            <th class="col-md-2 col-lg-2 col-xs-2">Remaining Leave</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var leaveSummary in @Model.LeaveSummary)
                        {
                            <tr>
                                <td>@leaveSummary.LeaveType</td>
                                <td>@leaveSummary.TotalAvailableLeave</td>
                                <td>@leaveSummary.LeaveTaken</td>
                                <td>@leaveSummary.RemainingLeave</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            <div class="col-md-12">
                <h4>Leave Report</h4>
                <div class="col-md-12" style="@(isLeaveCountZero == false ? "display:none" : "display:block")">
                    <div class="row" style="color:#23527C;">No applied leaves found for @Model.LeaveFormName</div>
                </div>
                <table class="table table-responsive table-striped table-bordered" 
                       style="@(isLeaveCountZero ? "display:none" : "display:block")">
                    <thead>
                    <tr>
                        <th class="col-md-1 col-lg-1 col-xs-1">From Date</th>
                        <th class="col-md-1 col-lg-1 col-xs-1">To Date</th>
                        <th class="col-md-1 col-lg-1 col-xs-1">No Of Days</th>
                        <th class="col-md-2 col-lg-2 col-xs-2">Leave Type</th>
                        <th class="col-md-3 col-lg-3 col-xs-3">Remark</th>
                        <th class="col-md-1 col-lg-1 col-xs-1">Status</th>
                        <th class="col-md-1 col-lg-1 col-xs-1">Change Plan</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var leave in @Model.leaveRecordsOfSelectedReportee)
                    {
                        string displayLeaveType;
                        if (leave.isHalfDayLeave)
                        {
                            var addedStringToHalfDay = " - Half Day";
                            var leaveType = @leave.GetLeaveDisplayName().ToString();
                            displayLeaveType = string.Concat(leaveType, addedStringToHalfDay);
                        }
                        else
                        {
                            displayLeaveType = @leave.GetLeaveDisplayName().ToString();
                        }
                        var isRealisedLeave = "false";
                        string disableColor = @leave.Status == DomainModel.Leave.StatusType.Cancelled ? "lightslategray" : "black";
                        string isCancelledLeave = @leave.Status == DomainModel.Leave.StatusType.Cancelled ? "true" : "false";
                        int LeaveTypeId = (int) @leave.TypeOfLeave;
                        var disable = leave.Status == DomainModel.Leave.StatusType.Cancelled ? "true" : "false";

                        <tr>
                            <td>@leave.FromDate.ToString("dd-MMM-yyyy")</td>
                            <td>@leave.ToDate.ToString("dd-MMM-yyyy")</td>
                            <td>@leave.NoOfDays</td>
                            <td>@displayLeaveType</td>
                            <td>@leave.Remark</td>
                            <td>@leave.Status</td>
                            <td class="text-center">
                                @if (disable == "true")
                                {
                                    <div class="container3">
                                        <div class="btn-group ">
                                            <span data-toggle="tooltip" class="glyphicon glyphicon-remove" title="CancelLeave Leave"
                                                  onclick="return false"
                                                  style="cursor:pointer;margin-right:10px;color:@disableColor;"></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="container3">
                                        <div class="btn-group ">
                                            <span data-toggle="tooltip" class="glyphicon glyphicon-remove" title="CancelLeave Leave"
                                                  onclick=CancelLeave("@leave.LeaveId","@isRealisedLeave","@isCancelledLeave")
                                                  style="cursor:pointer;margin-right:10px;color:@disableColor;"></span>
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    }
</div>

<script src="~/js/common.Leave.js"></script>