@model IEnumerable<UseCaseBoundary.Model.AttendanceRecordDTO>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    th, td {
        text-align: center
    }
</style>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Time In
                </th>
                <th>
                    Time Out
                </th>
                <th>
                    Late By
                </th>
                <th>
                    OverTime
                </th>
                <th>
                    Total Working Hours
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var lateByColor = "White";
                var overTimeColor = "White";
                if (item.LateBy._hour != 0 || item.LateBy._minute != 0)
                {
                    lateByColor = "crimson";
                }
                if (item.OverTime._hour != 0 || item.OverTime._minute != 0)
                {
                    overTimeColor = "aquamarine";
                }
                <tr>
                    <td>
                        @item.Date.ToString("D")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeIn._hour)
                        :
                        @Html.DisplayFor(modelItem => item.TimeIn._minute)
                    </td>
                    @if (item.TimeOut._hour == 0 && item.TimeOut._minute == 0)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeOut._hour)
                            :
                            @Html.DisplayFor(modelItem => item.TimeOut._minute)
                        </td>
                    }
                    <td style="background:@lateByColor">
                        @Html.DisplayFor(modelItem => item.LateBy._hour)
                        :
                        @Html.DisplayFor(modelItem => item.LateBy._minute)
                    </td>
                    <td style="background:@overTimeColor">
                        @Html.DisplayFor(modelItem => item.OverTime._hour)
                        :
                        @Html.DisplayFor(modelItem => item.OverTime._minute)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkingHours._hour)
                        :
                        @Html.DisplayFor(modelItem => item.WorkingHours._minute)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
